/*
 * $Id: common.css,v 1.1 2006/01/09 12:07:03 Yuki Exp $
 */
body
{
	font-size: 90%;
	background: #FFC;
	margin-right: 2em;
}

dt
{
	font-weight: bold;
}

p
{
	text-indent: 1em;
}

a:link
{
	color: Blue;
}

a:visited
{
	color: Blue;
}

a:hover
{
	color: Red;
}
